$bg-color: #333;
$bg-color-app: rgb(92, 92, 92);
$hover-color: rgb(221, 221, 221);
$bg-color-top: #ff4e00;
$bg-color-top-gradient: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
$light-color: rgb(253, 235, 235);
$error-color: rgb(88, 5, 5);
$text-color: rgb(19, 17, 17);

